/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: 0.9rem;
}

img{
    width: 100&;
    display: block;
}

.debug{
    border: 3px solid orange;
}


/* utility */
.flex{
    display: flex;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.space-b{
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
}

.al-it-center{
    align-items: center;
}

.color-white{
    color: white;
}

.mb-0-5em{ 
    margin-bottom: 0.5em;
}

.mb-2em{
    margin-bottom: 2em;
}

.m-l-0-5em{
    margin-left: 0.5em;
}

.m-l-1em{
    margin-left: 1.2em;
}

.hidden{
    display: none;
}

.scale:hover{
    transform: scale(1.1);
}


/* misure viewport */
#boxone{
    height: 100vh;
    display: flex;
}

/* aside */
aside{
    width: 200px;
    background-color: black;
    height: calc(100% - 100px);
    color: gray;
}

#logo{
    padding-top: 1rem;
    padding-left: 1rem;
}

aside div * :not(hr,img){
    padding: 0.2rem 0.5rem;
}

aside div > div span:hover{
    border-left: 2px solid greenyellow;
}

aside span:hover,
aside li:hover{
    color: white;
}

aside span span{
    align-self: center;
}

aside li{
    margin-bottom: 0.5em;
}

aside ul{
    max-height: calc(100vh/2 - 100px);
    overflow: auto;
}

.fa-square-plus{
    font-size: 2em;
    vertical-align: middle;
}

#profile{
    background-color: grey;
    border-radius: 50%;
    padding: 0 1px;
}

#boxino{
    padding: 1em;
}


/* main */
main{
    width: calc(100% - 200px);
    height: calc(100% - 100px);
    background-color: #141922;
    overflow: auto;
}

#overlay{
    height: 50px;
    width: calc(100% - 200px);
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
}

main span{
    color: grey;
}

#btn{
    border: 1px solid white;
    border-radius: 15px;
    padding: 3px 20px;
    color: white;
    margin-right: 1em;
}

#main-menu{
    margin-top: 70px;
    color: white;
}

#main-menu ul{
    width: 60%;
    margin: auto;
    color: grey;
}

#main-menu ul li{
    position: relative;
}

#main-menu ul li:after{
    content: '';
    position: absolute;
    background-color: greenyellow;
    height: 2px;
    width: 40%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

#main-menu ul li:hover::after{
    opacity: 1;
}

.container-main{
   padding: 0 1em;
   gap: 1rem;
}

.card{
    flex-basis: calc(100%/6 - 1rem);
    text-align: center;
    color: white;
    cursor: pointer;
}

.card img{
    width: 100%;
    margin: 1em 0;
}

.card .play{
    position: relative;
}

.aspect-ratio{
    aspect-ratio: 1;
    object-fit: cover;
}

.card .play::after{
    content: '\f144';
    font-family: "Font Awesome 6 Free"; 
    position: absolute;
    color: white;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.card .play:hover img{
    opacity: 0.5;
}

.card .play:hover::after{
    opacity: 1; 
}

main h2{
    padding: 2rem 1rem;
    font-size: 1.5em;
    color: white;
}

main p{
    padding: 0 1rem;
    color: white;
}

.radius{
    border-radius: 50%;
}


/* footer */
footer{
    height: 100px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 0 1em;
} 

footer i,
footer span{
    color: grey;
}

footer span{
    font-size: 1em;
}

footer i:hover{
    color: white;
}

footer img{
    width: 100%;
}

#foot-l,
#foot-r{
    width: 200px;
}

#foto{
    width: 20%;
}

#foot-l div{
    margin-top: auto;
    margin-bottom: auto;
}

#foot-m{
    width: 40%;
    text-align: center;
}

#foot-m i{
    font-size: 2em;
    margin: 0.5em;
}

.hr1{
    width: 80%;
    margin: auto;
    border-radius: 3px;
    background-color: gray;
}

.hr-bianco{
    width: 30%;
    border: 2px solid white;
    border-radius: 3px;
}

#hr2{
    width: 60%;
    margin: auto;
    border-radius: 3px;
    background-color: gray;
}



/* media */

/* laptop */
@media screen and (max-width: 1024px){
    #main-menu ul{
        width: 90%;
    }
}

/* tablet */
@media screen and (max-width: 768px){
    .card{
        flex-basis: calc(100%/4 - 1rem);
    }
    .container-main{
        justify-content: start;
        gap: 1rem;
    }
    #main-menu ul{
        display: flex;
        flex-wrap: wrap;
    }
    #main-menu ul li{
        margin: 10px 0;
        flex-basis: calc(100%/3 - 10px);
        justify-content: center;
        font-size: 10px;
        text-align: center;
    }
    #foot-m i{
        font-size: 1em;
    }

}

/* phone s */
@media screen and (max-width: 425px){
    aside{
        width: 150px;
    }
    main,
    #overlay{
        width: calc(100% - 150px);
    }
    #crea-playlist,
    #crea-playlist a{
        padding: 0;
        margin: 0;
    }
    #crea-playlist i{
        margin-right: 5px;
    }
    .card{
        flex-basis: calc(100%/2 - 1rem);
    }
    #btn{
        font-size: 10px;
        padding: 3px 10px;
        text-align: center;
    }
    #foot-r{
        width: 10%;
    }
    #foot-m{
        width: 60%;
    }
    #foot-l{
        width: 30%;
        flex-direction: column;
        height: 95%;
        text-align: center;
    }
    #foto{
        width: 50%;
        margin: auto;
    }
    #foot-l-icons{
        text-align: center;
        padding: 0;
        margin: 0;
    }
    #foot-l-icons i{
        padding: 0;
        margin: 0 2px;
    }
    .m-q-hidden2{
        display: none;
    }
    .flex-end{
        flex-direction: column;
        align-items: flex-end;
    }
    #foot-l-icons{
        text-align: center;
        padding: 0;
        margin: 0;
    }
    #foot-l-icons i{
        padding: 0;
        margin: 0 2px;
    }
    #foot-r i{
        margin: 0.2em;
    } 
}


/* phone xs */
@media screen and (max-width: 320px){
    .hidden{
        display: block;
        padding: 0.5em;
    }
    .aside-icons{
        width: 90%;
    }
    aside{
        width: 50px;
    }
    main{
        width: calc(100% - 50px);
    }
    #overlay{
        width: calc(100% - 50px);
    }
    .m-q-hidden,
    #logo{
        display: none;
    }
    #foot-l{
        width: 20%;
    }
    #foto{
        width: 100%;
    }
    #foot-m{
        width: 50%;
    }
    #foot-r{
        width: 10%;
    }
    
}


